@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/card/mdc-card";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";
@import "@material/card/mdc-card";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

.body-header {
  margin-top:20vh;
  height:60vh;
}

h1 {@include mdc-typography(headline1);}
h2 {@include mdc-typography(headline2);}
h3 {@include mdc-typography(headline3);}

.underline {
  border-bottom: black 1pt solid;
}

@use "@material/typography/mdc-typography";
