<?xml version="1.0" encoding="utf-8"?>
<Module xmlns="IVySoft.TypeModel">
  <Name>ModelCode</Name>
  <Namespace>IVySoft.VPlatform.ModelCode.Generated</Namespace>

  <Types>
    <EntityType>
      <Name>ModuleType</Name>
      <Properties>
        <Property>
          <Name>Name</Name>
          <Type>string</Type>
          <Multiplicity>1</Multiplicity>
        </Property>
        <Property>
          <Name>BaseType</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Discriminator</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>ElementName</Name>
          <Type>string</Type>
        </Property>
      </Properties>
    </EntityType>

    <EntityType>
      <Name>Module</Name>
      <Properties>
        <Property>
          <Name>Name</Name>
          <Type>string</Type>
          <Multiplicity>1</Multiplicity>
        </Property>
        <Property>
          <Name>Namespace</Name>
          <Type>string</Type>
          <Multiplicity>1</Multiplicity>
        </Property>
        <Property>
          <Name>IsExternal</Name>
          <Type>bool</Type>
        </Property>
      </Properties>
    </EntityType>
    
    <EntityType>
      <Name>ModuleDependency</Name>
      <Properties>
        <Property>
          <Name>Name</Name>
          <Type>string</Type>
          <Multiplicity>1</Multiplicity>
        </Property>
      </Properties>
    </EntityType>

    <EntityType>
      <Name>TypeWithProperties</Name>
      <BaseType>IVySoft.VPlatform.ModelCode.Generated.ModuleType</BaseType>
      <Abstract>true</Abstract>
    </EntityType>

    <EntityType>
      <Name>EntityType</Name>
      <BaseType>IVySoft.VPlatform.ModelCode.Generated.TypeWithProperties</BaseType>
      <Properties>
        <Property>
          <Name>Abstract</Name>
          <Type>bool</Type>
        </Property>
      </Properties>    
    </EntityType>

    <EntityType>
      <Name>ComplexType</Name>
      <BaseType>IVySoft.VPlatform.ModelCode.Generated.TypeWithProperties</BaseType>
      <Properties>
        <Property>
          <Name>Abstract</Name>
          <Type>bool</Type>
        </Property>
      </Properties>
    </EntityType>

    <EntityType>
      <Name>PrimitiveType</Name>
      <BaseType>IVySoft.VPlatform.ModelCode.Generated.ModuleType</BaseType>
      <Properties>
      </Properties>
    </EntityType>

    <EntityType>
      <Name>Property</Name>
      <Properties>
        <Property>
          <Name>Name</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Type</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Multiplicity</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Default</Name>
          <Type>string</Type>
        </Property>
      </Properties>
    </EntityType>

    <EntityType>
      <Name>Association</Name>
      <Properties>
        <Property>
          <Name>Name</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Left</Name>
          <Type>AssociationEnd</Type>
        </Property>
        <Property>
          <Name>Right</Name>
          <Type>AssociationEnd</Type>
        </Property>
      </Properties>
    </EntityType>

    <ComplexType>
      <Name>AssociationEnd</Name>
      <Properties>
        <Property>
          <Name>Type</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Property</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Multiplicity</Name>
          <Type>string</Type>
        </Property>
      </Properties>
    </ComplexType>

    <EntityType>
      <Name>EntityTable</Name>
      <Properties>
        <Property>
          <Name>Name</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>EntityType</Name>
          <Type>string</Type>
        </Property>
      </Properties>    
    </EntityType>

  </Types>

  <Associations>
    <Association>
      <Name>Module_Associations</Name>
      <Left>
        <Type>IVySoft.VPlatform.ModelCode.Generated.Module</Type>
        <Property>Module</Property>
        <Multiplicity>1</Multiplicity>
      </Left>
      <Right>
        <Type>IVySoft.VPlatform.ModelCode.Generated.Association</Type>
        <Property>Associations</Property>
        <Multiplicity>0..*</Multiplicity>
      </Right>
    </Association>
    <Association>
      <Name>Module_Types</Name>
      <Left>
        <Type>IVySoft.VPlatform.ModelCode.Generated.Module</Type>
        <Property>Module</Property>
        <Multiplicity>1</Multiplicity>
      </Left>
      <Right>
        <Type>IVySoft.VPlatform.ModelCode.Generated.ModuleType</Type>
        <Property>Types</Property>
        <Multiplicity>0..*</Multiplicity>
      </Right>
    </Association>
    <Association>
      <Name>Module_Dependencies</Name>
      <Left>
        <Type>IVySoft.VPlatform.ModelCode.Generated.Module</Type>
        <Property>Module</Property>
        <Multiplicity>1</Multiplicity>
      </Left>
      <Right>
        <Type>IVySoft.VPlatform.ModelCode.Generated.ModuleDependency</Type>
        <Property>Dependencies</Property>
        <Multiplicity>0..*</Multiplicity>
      </Right>
    </Association>
    <Association>
      <Name>Module_Tables</Name>
      <Left>
        <Type>IVySoft.VPlatform.ModelCode.Generated.Module</Type>
        <Property>Module</Property>
        <Multiplicity>1</Multiplicity>
      </Left>
      <Right>
        <Type>IVySoft.VPlatform.ModelCode.Generated.EntityTable</Type>
        <Property>Tables</Property>
        <Multiplicity>0..*</Multiplicity>
      </Right>
    </Association>
    
    <Association>
      <Name>Type_Properties</Name>
      <Left>
        <Type>IVySoft.VPlatform.ModelCode.Generated.TypeWithProperties</Type>
        <Property>OwnerType</Property>
        <Multiplicity>1</Multiplicity>
      </Left>
      <Right>
        <Type>IVySoft.VPlatform.ModelCode.Generated.Property</Type>
        <Property>Properties</Property>
        <Multiplicity>0..*</Multiplicity>
      </Right>
    </Association>
  </Associations>
  <Tables>
    <EntityTable>
	<Name>Modules</Name>
	<EntityType>IVySoft.VPlatform.ModelCode.Generated.Module</EntityType>
    </EntityTable>
  </Tables>

</Module>