<?xml version="1.0" encoding="utf-8"?>
<Module xmlns="http://schemas.iv-soft.ru/schemas/vplatform_module.xsd">
  <Name>ModelCode</Name>
  <Namespace>IVySoft.VPlatform.Target.ModelCode</Namespace>
  <Types>
    <EntityType>
      <Name>Module</Name>
      <Properties>
        <Property>
          <Name>Name</Name>
          <Type>string</Type>
          <Multiplicity>1</Multiplicity>
        </Property>
        <Property>
          <Name>Namespace</Name>
          <Type>string</Type>
          <Multiplicity>1</Multiplicity>
        </Property>
        <Property>
          <Name>Types</Name>
          <Type>EntityType</Type>
          <Multiplicity>0..*</Multiplicity>
      </Property>
      </Properties>
    </EntityType>
    
    <EntityType>
      <Name>EntityType</Name>
      <Properties>
        <Property>
          <Name>Name</Name>
          <Type>string</Type>
          <Multiplicity>1</Multiplicity>
        </Property>
        <Property>
          <Name>Properties</Name>
          <Type>Property</Type>
          <Multiplicity>0..*</Multiplicity>
        </Property>
      </Properties>    
    </EntityType>
 
    <EntityType>
      <Name>Property</Name>
      <Properties>
        <Property>
          <Name>Name</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Type</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Multiplicity</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Default</Name>
          <Type>string</Type>
        </Property>
      </Properties>
    </EntityType>

    <EntityType>
      <Name>Association</Name>
      <Properties>
        <Property>
          <Name>Name</Name>
          <Type>string</Type>
        </Property>
        <!--<Property>
          <Name>Left</Name>
          <Type>AssociationEnd</Type>
          <Multiplicity>1</Multiplicity>
        </Property>
        <Property>
          <Name>Right</Name>
          <Type>AssociationEnd</Type>
          <Multiplicity>1</Multiplicity>
        </Property>-->
      </Properties>
    </EntityType>

    <EntityType>
      <Name>AssociationEnd</Name>
      <Properties>
        <Property>
          <Name>Type</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Property</Name>
          <Type>string</Type>
        </Property>
        <Property>
          <Name>Multiplicity</Name>
          <Type>string</Type>
        </Property>
      </Properties>
    </EntityType>

  </Types>
</Module>