<?xml version="1.0" encoding="utf-8"?>
<Module xmlns="http://schemas.iv-soft.ru/schemas/vplatform_module.xsd">
  <Name>System</Name>
  <Namespace>System</Namespace>
  <Types>
    <PrimitiveType>
      <Name>string</Name>
      <FullName>string</FullName>
    </PrimitiveType>

    <PrimitiveType>
      <Name>int</Name>
      <FullName>int</FullName>
    </PrimitiveType>

    <PrimitiveType>
      <Name>bool</Name>
      <FullName>bool</FullName>
    </PrimitiveType>

  </Types>
</Module>