@using System.Linq;
@using System.Collections.Generic;
@using Microsoft.Extensions.DependencyInjection;
@{
  var entity_manager = get_service<IVySoft.VPlatform.TemplateService.Entity.IEntityManager>();
  var sp = entity_manager.get_db_model<IVySoft.SiteBuilder.DbModel>();
  var scope = sp.CreateScope();
  var db = scope.ServiceProvider.GetService<IVySoft.SiteBuilder.DbModel>();
  var control = (IVySoft.SiteBuilder.LinkList)db.PageControls.Single(x => x.Id == (int)Parameters["ControlId"]);
}
<ul>
{@(string.IsNullOrEmpty(control.Source)?"data":("data."+control.Source)).map((data, index) => ( <li><a href={"@control.Target" + data.Id}>{data.@control.Title}</a></li> ))}
</ul>
