@using System.Linq;
@using System.Collections.Generic;
@using Microsoft.Extensions.DependencyInjection;
@{
  var entity_manager = get_service<IVySoft.VPlatform.TemplateService.Entity.IEntityManager>();
  var razor = get_service<IVySoft.VPlatform.TemplateService.Razor.IRazorManager>();
  var sp = entity_manager.get_db_model<IVySoft.SiteBuilder.DbModel>();
  var scope = sp.CreateScope();
  var db = scope.ServiceProvider.GetService<IVySoft.SiteBuilder.DbModel>();
  var control = (IVySoft.SiteBuilder.Masthead)db.PageControls.Single(x => x.Id == (int)Parameters["ControlId"]);
}

  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">@control.Title</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
@foreach(var child in control.Children.OrderBy(x => x.Order))
{
	var type = child.GetType().Name;
	if(type.EndsWith("Proxy")) type = type.Substring(0, type.Length - "Proxy".Length);
	@component(type, new System.Collections.Generic.Dictionary<string, object> { ["ControlId"] = child.Id })
}
        </div>
      </div>
    </div>
  </header>
