@{
var entity_manager = get_service<IVySoft.VPlatform.TemplateService.Entity.IEntityManager>();
var drawer_menu = entity_manager.get_collection<md_template.drawer_menu_item>("drawer_menu");
}
<aside class="mdc-drawer mdc-drawer--dismissible">
    <div class="mdc-drawer__content">
    @foreach(var item in drawer_menu){
        <div class="mdc-list">
            <a class="mdc-list-item mdc-list-item--activated" href="@item.href" aria-current="page">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">@item.icon</i>
            <span class="mdc-list-item__text">@item.title</span>
            </a>
        </div>
    }
    </div>
</aside>
<div class="mdc-drawer-app-content">
<header class="mdc-top-app-bar transparent-top-app-bar">
    <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a href="#" class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</a>
        <span class="mdc-top-app-bar__title">@Parameters["Title"]</span>
    </section>
    </div>
</header>
<div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
    <main class="body-content mdc-typography" id="body-content">
        @Content
    </main>
</div>
</div>
