@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/card/mdc-card";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";
@import "@material/card/mdc-card";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

.body-header {
  margin-top:20vh;
  height:60vh;
}

.body-content {
  padding-top: 30pt;
  padding-bottom: 30pt;
}

.card-content {
  background-color: #05444444;
}

